body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1180px;
    margin: auto;
}
ul,ol{
    list-style: none;

}
a{
    text-decoration: none;
}
/* Header part css start */
.header-part{
    padding: 20px 20px;
    background: linear-gradient(45deg,#4e54c8,#8f94fb);
   
}
.logo{
    width: 60%;
    float: left;
}
.logo a{
    color:#fff;
    font-size: 32px;
    font-weight: 500;
}
.nav{
    margin-left: 100px;
}
.nav ul li{
    display: inline-block;
    padding-right: 25px;
}
.nav ul li a{
    color:#fff;
    font-size: 16px;
    font-weight: 700;
}
/* Header part css end */

/* banner part css start */
.banner-part{
    height: 500px;
    padding-top: 50px;
}
.banner-content{
    width: 40%;
    float: left;
    
}
.banner-content h1{
    font-size: 60px;
    color:#5C5F58;
    margin-bottom: 20px;
}
.banner-content h1 span{
    color:#266150
}
.banner-content h2{
    font-size: 32px;
    color:#007cc7;
}
.banner-content p{
    color:#707070;
    font-size: 16px;
    line-height: 1.6;
}
.button{
    color:#fff;
    padding: 10px 20px;
    display: inline-block;
    background: linear-gradient(to right,#4e54c8,#8f94fb);
    border-radius: 4px;
    
}
.button i{
    padding-right: 10px;
}
.banner-img{
    float: left;
    margin-left: 20%;
}
.banner-img img{
    width: 450px;
}

/* banner part css end */

/* about part css start */
.about-me{
   padding-top: 100px;
   padding-bottom: 100px;
}
.about-img{
    width: 40%;
    float: left;
}

.about-img img{
    width: 400px;
}
.about-content{
    margin-left: 5%;
    padding: 80px 0px;
}
.about-content h2{
    font-size: 28px;
    color:#144A41;
    font-weight: 700;
}
.about-content p{
    color:#222;
    font-size: 16px;
    line-height: 1.6;
}

/* about part css end */

/* work part css start */
.work-part{
    height: 320px;
    padding: 80px 80px;
    background: #ddd;
}
.work-grid{
    width: 25%;
    float: left;
    padding: 20px;
    background: #fff;
    margin-right: 20px;
    border-radius: 10px;
}
.work-grid img{
    width: 100%;
}
/* work part css end */

.work-inquary{
   margin-top: 100px;
    background-image:url(../images/work-inquary.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px 50px;
    border-radius: 40px;
  
}
.work-inquary-left{
    width: 80%;
    float: left;
}
.work-inquary-left h2{
    color:#fff;
    
}
.footer-part{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-content{
    text-align: center;
}
.footer-content h2{
    font-weight: 500;
    color: #5C5F58;
}
.footer-content a{
    font-size: 32px;
    color: #707070;
}
.social-icon ul li{
   display: inline-block;
   padding-right: 10px;
}